pkgbase = ttf-plemol-jp
	pkgdesc = A Japanese programming font based on IBM Plex Sans and IBM Plex Mono
	pkgver = 1.2.5
	pkgrel = 1
	url = https://github.com/yuru7/PlemolJP
	arch = any
	license = custom
	source = ttf-plemol-jp-1.2.5.zip::https://github.com/yuru7/PlemolJP/releases/download/v1.2.5/PlemolJP_v1.2.5.zip
	source = ttf-plemol-jp-1.2.5-hs.zip::https://github.com/yuru7/PlemolJP/releases/download/v1.2.5/PlemolJP_HS_v1.2.5.zip
	source = ttf-plemol-jp-1.2.5-nf.zip::https://github.com/yuru7/PlemolJP/releases/download/v1.2.5/PlemolJP_NF_v1.2.5.zip
	source = LICENSE::https://raw.githubusercontent.com/yuru7/PlemolJP/main/LICENSE
	sha256sums = 96d5cc0e687450e91aa25c6d29fceaa2bff935e454f9a7f468780699ed57fd23
	sha256sums = 31901129157dac2f96f3be415980be5194a1d802e882688bf6aca64b52bd0385
	sha256sums = 16edc7c760211e91889bb22349080ea91ed96c7d7aa2920c727e9b2cf81ccd2e
	sha256sums = 52bbb5e729acc62435831d20641ece6a919e610100285ba183ef4d7233fb1e9a

pkgname = ttf-plemol-jp
